<footer class="bg-iron-brand w-full rounded-none border-t border-white/5">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 px-12 py-24 w-full">
        <div class="md:col-span-1">
            <div class="text-2xl font-black text-white font-headline tracking-tighter mb-8 uppercase">PC
                CONSTRUCTION</div>
            <p class="text-stone-400 font-['Work_Sans'] text-sm leading-relaxed mb-10 font-medium">Engineering
                excellence and structural integrity in every project we touch. Built for precision since 1984.</p>
            <div class="flex gap-4">
                <button
                    class="w-12 h-12 rounded-full border border-white/10 flex items-center justify-center text-white hover:bg-amber-brand hover:text-iron-brand transition-colors cursor-pointer"
                    onclick="window.open('https://api.whatsapp.com/send/?phone=923207882433&text=Hi! Do you Build Website like this one?', '_blank' );"
                    aria-label="Share on WhatsApp">
                    <span class="material-symbols-outlined text-xl" data-icon="share">share</span>
                </button>
                <button
                    class="w-12 h-12 rounded-full border border-white/10 flex items-center justify-center text-white hover:bg-amber-brand hover:text-iron-brand transition-colors cursor-pointer"
                    onclick="window.location.href='mailto:hello@taimoursohail.com';" aria-label="Send Email">
                    <span class="material-symbols-outlined text-xl">mail</span>
                </button>
            </div>
        </div>
        <div>
            <h5 class="text-amber-brand font-['Work_Sans'] text-sm uppercase tracking-widest font-black mb-10">
                Specializations</h5>
            <ul class="space-y-4">
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="/services/#commercial">Commercial</a></li>
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="/services/#industrial">Industrial</a></li>
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="/services/#commercial">Infrastructure</a></li>
            </ul>
        </div>
        <div>
            <h5 class="text-amber-brand font-['Work_Sans'] text-sm uppercase tracking-widest font-black mb-10">
                Company</h5>
            <ul class="space-y-4">
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="#">Safety Protocols</a></li>
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="#">Careers</a></li>
                <li><a class="text-stone-400 hover:text-white transition-colors font-['Work_Sans'] text-xs uppercase tracking-widest font-bold hover:translate-x-2 inline-block transition-transform"
                        href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div>
            <h5 class="text-amber-brand font-['Work_Sans'] text-sm uppercase tracking-widest font-black mb-10">HQ
                Contact</h5>
            <div class="text-stone-400 font-['Work_Sans'] text-xs uppercase tracking-widest space-y-6 font-bold">
                <p class="leading-loose">Ample Business Club <br />
                    Zenith Plaza, Jinnah Ave <br />
                    Bahria Town Karachi <br />
                    Karachi, 75340 <br /></p>
                <p class="text-white text-lg">+92 (320) 788-2433</p>
                <a href="mailto:hello@taimoursohial.com" class="text-amber-brand">hello@taimoursohial.com</p>
            </div>
        </div>
    </div>
    <div class="border-t border-white/5 px-12 py-10 flex flex-col md:flex-row justify-between items-center gap-6">
        <div class="text-stone-500 font-['Work_Sans'] text-[10px] uppercase tracking-[0.3em] font-black">
            © <span>
                <script>document.write(new Date().getFullYear());</script>
            </span> PC CONSTRUCTION. BUILT FOR PRECISION.
        </div>
        <div class=" flex gap-12 text-stone-500 font-['Work_Sans'] text-[10px] uppercase tracking-[0.3em]
                    font-black">
            <span class="hover:text-white cursor-pointer transition-colors"> Terms of Service</span>
            <span class="hover:text-white cursor-pointer transition-colors">Cookie Policy</span>
        </div>
    </div>
</footer>